#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #161925;
    text-decoration: none;
}

nav a:hover {
    background-color: #161925;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #CBF7ED;
}

body {
    background-color: #FCFBFB;
}

header {
    background-color: #8EA8C3;
}

.book, .join {
    background-color: #CBF7ED;
    color: #161925;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #161925;
    color: #CBF7ED;
}

.msg {
    background-color: #8EA8C3;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

footer {
    background-color: #8EA8C3;
}

footer a {
    color: #161925;
    text-decoration: none;
}
footer a:hover {
    color: #161925;
    text-decoration: underline;
}

footer p {
    color: #161925;
    font-size: 1.2em;
}

.home-title {
    color: #161925;
}

h4 {
    color: #161925;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}